<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://www.placecage.com/g/700/500" class="rounded d-block mx-auto img-fluid" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white"><%= title %></h1>
        <% if(locals.data) { %>
        <p class="text-white"><%= JSON.stringify(data) %></p>
        <% } %>
        <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis massa ex, ut tincidunt dolor gravida non. Maecenas in posuere tellus. Sed ullamcorper orci ut egestas pharetra. Donec viverra quis velit in vehicula. Aenean nec erat fermentum, volutpat turpis et, tempus augue. Fusce eget odio urna. Fusce dolor lorem, efficitur eget nunc tempus, aliquam bibendum purus</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-secondary btn-lg px-4">Button</button>
        </div>
      </div>
    </div>
  </div>